::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 12px rgb(114, 187, 104);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(115, 190, 178), rgb(20, 61, 16));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgb(54, 139, 54), rgb(216, 127, 127));
    border-radius: 100px;
}

html {
    height: 100%;
    margin:0px;
    padding: 0px;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #c7e6bd6b;
}

.msg-container {
    margin: 1px auto;
    background: linear-gradient(#f4ff0045,#d4acce);
    width: 580px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    margin: auto;
    position: relative;
    /* margin-top: 50px; */
}
#typing{
    margin: 0px auto;
    text-align: center;
    background-color: #be9090;
    border-radius: 95px;
}
#typingdiv{
    width: 580px;
    margin: auto;
    /* margin-top: 16px; */
    /* margin-bottom: -19px; */
    position: relative;
    /* top: 51px; */
    border-radius: 95px;
}
.message {
    background: #42181861;
    color: #4f07ff;
    padding: 10px;
    border-radius: 10px;
}

.left {
    margin:10px ;
    width: fit-content;
    float: left;
    clear: both;
}

.right {
    background: rgb(187, 224, 187);
    margin:10px ;
    float: right;
    clear: both;
}


.send {
    border-radius: 10px;
    margin: 1px auto;
    width: 580px;   
    background-color: rgb(159 115 162 / 49%);
}
input{
    background: #c2c3a5;
    width:  337px;
    height: 25px;
    border-radius: 10px;
    outline: none;
    margin:5px;
}
#btn {
    padding: 4px 7px;
    border: 2px solid white;
    background-color: #b39d95;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin:5px;
    outline: none;
}

button:hover {
    background-color: coral;
}

#but{
    width:54px;
    height:40px;
    font-size: 8px;
    border-radius:50%;
    margin-left:10px ;
}

